{% extends "layout.html" %}

{% block content %}


<!--The Intro-->
<div class="jumbotron">
    <h1>Employee List</h1>
    <h3>Hello!</h3>
    <p class="lead"> Hamid Ebrahimi here doing the assessment. A couple things I wanted to point out before you get to playing with this <b>CRUD</b></p>
    <ol>
        <li>
            I don't traditionally write web apps with python
        </li>
        <li>
            I am making use of VisualStudio 2022 templates to get this done.
        </li>
    </ol>
    <p>With all that said, enjoy my quick and dirty form for adding and removing employees</p>
</div>


<!--The Task-->
<div class="panel-group" id="accordion">
   <!--Add employee-->
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Add Employee</a>
            </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse">
            <div class="panel-body">
                {% if error %}
                <span class="text-danger">{{error}}</span>
                {% endif %}
                {% if success %}
                <span class="text-success">{{success}}</span>
                {% endif %}

                <form action="{{ url_for('submit_employee') }}" method="post" id="employee-form">
                    <div class="form-group">
                        <label for="person-id">Person ID:</label>
                        <input type="number" class="form-control" id="person-id" name="person_id" required>
                    </div>
                    <div class="form-group">
                        <label for="first-name">First Name:</label>
                        <input type="text" class="form-control" id="first-name" name="first_name" required>
                    </div>
                    <div class="form-group">
                        <label for="last-name">Last Name:</label>
                        <input type="text" class="form-control" id="last-name" name="last_name" required>
                    </div>
                    <div class="form-group">
                        <label for="email">Email Address:</label>
                        <input type="email" class="form-control" id="email" name="email_address" required>
                    </div>
                    <div class="form-group">
                        <label for="hire-date">Hire Date:</label>
                        <input type="date" class="form-control" id="hire-date" name="hire_date" required max="{{current_date}}">
                    </div>
                    <div class="form-group">
                        <label for="job-title">Job Title:</label>
                        <select class="form-control" id="job-title" name="job_title" required>
                            <option value="" disabled selected>Select job title</option>
                            <option value="TA Rep A">TA Rep A</option>
                            <option value="TA Rep B">TA Rep B</option>
                            <option value="Direct Rep A">Direct Rep A</option>
                            <option value="Direct Rep B">Direct Rep B</option>
                        </select>
                    </div>
                    <div class="form-group" id="agency-number-group">
                        <label for="agency-num">Agency Number:</label>
                        <input type="number" class="form-control" id="agency-num" name="agency_num">
                    </div>
                    <input type="hidden" name="registration_date" value="{{ current_date }}">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
    
    <!--View Edit Delete Employee-->
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Edit Employees</a>
            </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse">
            <div class="panel-body" id="employee-list">
                {% if delete_success %}
                <span class="text-success">{{delete_success}}</span>
                {% endif %}
            </div>
        </div>
    </div>
</div>



<script>

            //Adding Employee Validation
        document.querySelector("#employee-form").addEventListener("submit", function (event) {
            //Declarations
            var firstName = document.querySelector("#first-name").value;
            var lastName = document.querySelector("#last-name").value;
            var emailAddress = document.querySelector("#email").value;
            var hireDate = document.querySelector("#hire-date").value;
            var jobTitle = document.querySelector("#job-title").value;
            var personID = document.querySelector("#person-id").value;
            const currentDate = new Date();


            //Validation

            // Check if required fields are empty
            if (!firstName || !lastName || !emailAddress || !hireDate || !jobTitle || !personID) {
                event.preventDefault();
                alert('Please fill in all required fields.');
            }

            // Person ID
            if (personID.length !== 7 || isNaN(personID)) {
                event.preventDefault();
                alert('Please enter a valid person ID.');
            }

            // Email
            if (emailAddress) {
                var emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
                if (!emailRegex.test(emailAddress) || !emailAddress.includes('.') || emailAddress.includes(' ')) {
                    event.preventDefault();
                    alert('Please enter a valid email address.');
                }
            }

            // Date Hired
            if (hireDate > currentDate) {
                alert("Hire date cannot be in the future.");
            }


        });

            // Hiding Agency Number
        document.querySelector("#agency-number-group").style.display = "none";

            // Conditional Rendering Of Agency Number Field
        document.querySelector("#job-title").addEventListener("change", function () {
            if (this.value == "Direct Rep A" || this.value == "Direct Rep B") {
                document.querySelector("#agency-number-group").style.display = "block";
            } else {
                document.querySelector("#agency-number-group").style.display = "none";
            }
        });

            //Get the employees
        fetch('/api/employees')
            .then(response => {
                if (response.ok) {
                    return response.json();
                }
                throw new Error('Network response was not ok.');
            })
            .then(data => {

                /*Grab the container for the table*/
                const employeeList = document.querySelector('#employee-list');

                /*Check if there is data returned if not say there are no employees*/
                if (data.length === 0) {
                    const noEmployeesMessage = document.createElement('h3');
                    noEmployeesMessage.innerText = "There are no saved employees"
                    employeeList.appendChild(noEmployeesMessage);
                    return;
                }

                // Create the table
                const table = document.createElement('table');
                table.classList.add('table', 'table-striped');
                employeeList.appendChild(table);

                // Table headers
                const translationDict = {
                    'person_id': 'Person ID',
                    'first_name': 'First Name',
                    'last_name': 'Last Name',
                    'email_address': 'Email',
                    'hire_date': 'Hire Date',
                    'job_title': 'Job Title',
                    'agency_num': 'Agency Number',
                    'registration_date': 'Registration Date'
                };
                const headerRow = document.createElement('tr');
                table.appendChild(headerRow);
                for (const key in translationDict) {
                    const headerCell = document.createElement('th');
                    headerCell.innerText = translationDict[key];
                    headerCell.classList.add('text-capitalize');
                    headerRow.appendChild(headerCell);
                }


                // Row for each employee
                data.forEach((employee) => {
                    const row = document.createElement('tr');
                    table.appendChild(row);
                    for (const key in translationDict) {
                        const cell = document.createElement('td');
                        cell.innerText = employee[key];
                        row.appendChild(cell);
                    }

                    // Add a cell for the delete button
                    const deleteCell = document.createElement('td');
                    const deleteForm = document.createElement('form');
                    deleteForm.action = `/delete/${employee['person_id']}`;
                    deleteForm.method = 'POST';  // or use DELETE if your server supports it
                    deleteCell.appendChild(deleteForm);

                    const deleteButton = document.createElement('button');
                    deleteButton.innerText = 'Delete';
                    deleteButton.type = 'submit';
                    deleteButton.classList.add('btn', 'btn-danger');
                    deleteButton.onclick = function (event) {
                        const confirmed = confirm("Are you sure you want to delete record " + employee['person_id'] + " ?" );
                        if (!confirmed) {
                            event.preventDefault();
                        }
                    };
                    deleteForm.appendChild(deleteButton);
                    row.appendChild(deleteCell);
                });
            })
            .catch(error => {
                console.error('There was a problem with the fetch operation:', error);
            });

                //Check to see if there is success or error else display employees
            {% if success or error %}
            document.getElementById('collapseOne').classList.add('in');
            {% else %}
            document.getElementById('collapseTwo').classList.add('in');
            {% endif %}
         
            
    



        

</script>

{% endblock %}
